/* Your existing styles */


.Password {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 17rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1rem;
  box-shadow: 5px 5px 10px 1px rgb(255, 255, 255, 0.05) inset,
    -5px -5px 10px 1px rgba(0, 0, 0, 0.2) inset;
  transition: 250ms ease-out;
  cursor: pointer;
}

.Password:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.overlay {
  background-color: aqua;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  height: 2rem;
  text-align: center;
  width: 17rem;
}

.overlay > p {
  font-size: small;
  text-overflow: ellipsis;
  padding-top: 7px;
}
